# App
VITE_APP_URL=https://sra.ai2paper.com
VITE_APP_NAME="SRA Explorer NG"
VITE_APP_DESCRIPTION="Search NCBI SRA and batch-download FASTQ, normalized SRA, FAST5, POD5, and Original submitted files."
VITE_APP_LOGO=/logo.svg
VITE_DEFAULT_LOCALE=en
